body{

    background-color: rgb(127, 255, 212); 
    color:darkcyan;
    display: flex;
}

header {
    text-align: center;
    font-size: 50px;
    border-bottom: solid 5px whitesmoke;
    margin-left: 80;
    margin-right: 80;

}

